@font-face {
  font-family: "Windlass";
  src: url(Windlass.ttf) format('truetype');
  src: url(Windlass.ttf) format('woff');
  src: url(Windlass.ttf) format('woff2');
}
html {
  background-image: url(8yCj0Ao.jpg), url(8yCj0Ao-Copy.jpg);
  background-position: left top, left top;
  background-repeat: no-repeat, repeat;
  /*background-attachment: fixed;*/
}
body {
  font-size: inherit;
}
#title {
text-align: center;
font-size: 1rem;
font-family: "Windlass";
width: 60%;
position: fixed;
top: /*10px;*/ 2px; /* altered */
right: 20%;
z-index: 2;
line-height: 70px;
color: /*darkred*/ black;
display: inline-block;
margin: none;
padding: none;
overflow: hidden;
white-space: nowrap;

}
.header{
  position: relative;
  top: -69px;
  position: fixed;
  background-color: /*rgb(255, 123, 0)*/ rgb(255, 72, 0);
  color: black;
  font-weight: bold;
  z-index: 1;
  width: 100%;
  text-align: center;
  border-bottom: black solid 2pt;
  border-top: black solid 1pt;
  font-family: 'Trajan Pro', 'Times New Roman', serif;
  font-size: 0.28rem;
  color: black;
  height: 192px;
}
.header ul {
  width: 99%;
  position: relative;
  left: 0.5%;
  padding: none;
  margin: none;
}
.header li {
  display: inline-block;
  width: 13.5%;
  text-align: center;
  position:relative;
  top: /*0px;*/ 14px; /* altered */;
}

#currentPage{
  border-top: black solid 3px;
  width: 60px;
  height: 40px;
  padding: 13px 18px;
}

.dropdown {
  float: center;
  overflow: visible;
  height: 27px;
}

.dropdown .dropbtn {
  font-size: 0.28rem;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  line-height: 15px;
  float: center;
}

.dropbtn:hover {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(236, 128, 40,0.7);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav {
  overflow: hidden;
  width: 14%;
}
.topnav .search-container {
  height: 15px;
  width: 14%;
}

.topnav input[type=text] {
  font-size: 15px;
  border: none;
  position: relative;
  top: 32.5px;
}

.topnav .search-container button {
  float: left;
  padding: 4.8px 39%;
  margin-top: 8px;
  background: #ddd;
  font-size: 0.2rem;
  border: none;
  cursor: pointer;
  position: relative;
  left: 606%;
}

.topnav .search-container button:hover {
  background: #ccc;
}
.fa-search {
  padding: 10% 10%;
}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc; 
  }
}

#login {
position: relative;
/*top: 80px;*/
}

.hoverable:hover{
width: 60px;
height: 40px;
background-color: red;
padding: 13px 18px;

}

#loginform {
position: relative;
top: /*130px;*/ 111.5px; /* altered */
}
#signupform {
position: relative;
top: /*182px;*/ 163.5px; /* altered */
}
#incorrectusername {
  position: absolute;
  right: 500px;
  top: /*270px;*/ 200px; /* altered */
  z-index: 2;
  font-family: Trajan Pro;
  font-size: 10pt;
  color: maroon;
  font-weight: bold;
  background-color: rgb(255, 123, 0);
}
#nonmatchingpasswords {
  position: absolute;
  right: 305px;
  top: 250px;
  z-index: 2;
  font-family: Trajan Pro;
  font-size: 0.2rem;
  color: maroon;
  font-weight: bold;
  background-color: rgb(255, 123, 0);
}
main {
  position: relative;
  left: 12.5%;
  top: 120px;
  z-index: 0;
  width: 75%;
  overflow: hidden;
  background-color: rgba(190, 184, 184, 0.699);
  height: 2000px;
}
main:first-child {
  left: inherit;
  top: inherit;
  width: inherit;
}
#slideshow-container {
  position: relative;
  top: 1em;
  left: 1%;
  width: 98%;
  height: 660px;
}
.caption {
  font-family: 'Averia Serif Libre', cursive;
  background-color: rgba(51, 126, 42, 0.6);
  display: inline-block;
  line-height: 40px;
  position: relative;
  top: -10px;
  padding: 0px 10px;
}
.main {
  position: relative;
  left: 1%;
  width: 98%;
}
#list-no-login {
  width: 49%;
  background-color: rgba(218, 213, 213, 0.699);
  height: 300px;
  display: block;
  line-height: 30px;
}
#list-with-login {
  width: 49%;
  background-color: rgba(218, 213, 213, 0.699);
  height: 300px;
  display: block;
  position: relative;
  left: 51%;
  bottom: 315px;
  line-height: 30px;
}
#p1 {
  position: relative;
  left: 1%;
  top: -320px;
}
main article:last-of-type {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  bottom: 320px;
  left: 1%;
  width: 98%;
  height: 35.6989%;

}

#section1 {
  align-self: flex-start;
  justify-self: left;
  justify-content: left;
  display: flex;
  width: 50%;
  flex-wrap: wrap;  
}

#section2 {
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  width: 50%;
  height: 810px;
}
#section2 section:first-of-type {
  width: 99%;
  justify-self: flex-end;
  display: flex;
}
#sample-image1, #sample-image2, #sample-image3, #sample-image4, #sample-image5 {
  width: 99%;
}
#figcaption1 {
  font-size: 0.28rem;
  font-family: 'Averia Serif Libre', cursive;
  width: 48.5%;
  background-color: rgba(212, 58, 179, 0.6);
  height: 60px;
}
#sample-image2 {
  position: relative;
  bottom: 12%;
}
#sample-image4,#sample-image5 {
  justify-content: flex-end;
  position: relative;
  left: 2%;
  bottom: 8.5%;
  width: 98%;
}
#sample-image5 {
  position: relative;
  bottom: 23%;
}
#figcaption2 {
  font-size: 0.28rem;
  font-family: 'Averia Serif Libre', cursive;
  width: 48.5%;
  position: relative;
  left: 50.5%;
  bottom: 12%;
  background-color: rgba(61, 58, 212, 0.6);
  height: 60px;
}

#sample-image3 {
  height: 274px;
  justify-self: flex-end;
  position: relative;
  left: 1%;
}
#figcaption3 {
  font-size: 0.28rem;
  font-family: 'Averia Serif Libre', cursive;
  width: 48%;
  background-color: rgba(166, 212, 58, 0.6);
  height: 60px;
  position: relative;
  left: 1%;
}

#figcaption4 {
  font-size: 0.28rem;
  font-family: 'Averia Serif Libre', cursive;
  width: 49%;
  background-color: rgba(212, 120, 58, 0.6);
  height: 60px;
  position: relative;
  left: 51%;
  bottom: 8.5%;
}
footer {
  background-color: rgb(255, 123, 0);
  position: relative;
  top: 120px;
  border-top: black 2pt solid;
  font-family: "Trajan Pro";
  padding: 0px 10px;
  line-height: 40px;
}
.achievement {
  position: relative;
  top: -108px;
  transition: top 2s linear;
  -webkit-transition: top 2s linear;
  -moz-transition: top 2s linear;
  -o-transition: top 2s linear;
  left: 15px;
  z-index: 100;
  background-color: yellowgreen;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: block;
  width: 300px;
  height: 50px;
  z-index: 200;
}

#points {
  position: absolute;
  top: 80px;
  right: 1.302%;
  width: 13.02%;
  height: 50px;
  background-color: /*rgb(133, 66, 22)*/ black;
  color: white;
  z-index: 100;
  font-size: 20px;
  overflow: hidden;
  min-width: 97px;
}
#streaks {
  position: absolute;
  top: 80px;
  right: 15.625%;
  border-radius: 25px;
  background-image: url(streaks.webp);
  background-size: 100%;
  background-color: burlywood;
  width: 50px;
  height: 50px;
  font-size: 0.6rem;
  overflow: hidden;
}
.main_about {
  height: 5000px;
}
.projects_main {
  font-family: 'Bree Serif', 'Times New Roman', serif;
  font-size: 0.28rem;
}
.projects_body {
  font-family: 'PT Serif', 'Times New Roman', serif;
  width: 100%;
  position: relative;
  z-index: 99;
}
.flat_images {
  width: 33.333333333%;
  display: inline-block;
  position: relative;

}
.flat_images:nth-child(3) {
  position: relative;
  bottom: 80px;
}

.flat_images:nth-child(4) {
  position: relative;
  left: 33%;
  bottom: 14px;
  
}
.flat_images:nth-child(5) {
  position: relative;
  right: -33.3333333333%;
  bottom: 386px;
}

.flat_images:nth-child(6) {
  position: relative;
  right: -33%;
  bottom: 35px;
}

.flat_images:nth-child(7) {
  position: relative;
  bottom: 490px;
}

.flat_images:nth-child(8) {
  position: relative;
  right: -33%;
  bottom: 138px;
}
.flat_images:nth-child(9) {
  position: relative;
  bottom: 567px;
}
.flat_images:nth-child(10) {
  position: relative;
  bottom: 865px;
  right: 0.33%;
}

.flat_images:nth-child(11) {
  position: relative;
  bottom: 1008px;
  right: -33.333%;
}
.links {
  position: relative;
  bottom: 1000px;
  z-index: 1000;
  width: 25%;
  font-family: 'PT Serif', 'Times New Roman', serif;
}
#projects_title {
  text-align: center;
  font-size: 0.6rem;
  font-family: 'Lobster Two', cursive;
  position: relative;
  bottom: 20px;
}
.projects_main2 {
  position: relative;
  bottom: 970px;
}
.projects_secondary2 {
  position: relative;
  bottom: 970px;
  font-family: 'PT Serif', 'Times New Roman', serif;
}
.house_images {
  width: 33.33%;
}
.house_images:nth-child(3) {
  position: relative;
  bottom: 1000px;
}
.house_images:nth-child(4) {
  position: relative;
  bottom: 975px;
  right: 0.33%;
}
.house_images:nth-child(5) {
  position: relative;
  bottom: 1354px;
  left: 66.66%;
}
.house_images:nth-child(6) {
  position: relative;
  bottom: 1025px;
  right: 33.666%;
}
#member-benefits {
  display: none;
}
.package {
  background-color: rgba(255,0,0,0.5);
  margin: 10px 10px;
}
.search-results {
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgba(255,255,255,0.4);
  display: none;
  /*height: 1%;*/
}
.search-results h3 {
  text-align: left;
  margin: 1%;
  font-family: 'Windlass';
}
.search-results p {
  margin: 1%;
}
.search-results h6 {
  margin: 1%;
  text-align: right;
}

#page_numbers {
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: center;
  margin: 1%;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 0.4rem;
  height: auto;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-decoration: none;
  visibility: hidden;
}
#page_numbers a {
  text-decoration: inherit;
}
#cookie_alert {
  position: fixed;
  bottom: 0px;
  right: 0%;
  background-color: purple;
  width: 100.5%;
  height: 10%;
  padding: 1%;
  font-weight: bold;
}
.programming_images {
  width: 99%;
}
.program_links {
  font-weight: lighter;
}

#sort_p {
  visibility: hidden;
  padding: 0px 10px;
  display: inline-block;
}
#sort_form {
  visibility: hidden;
  padding: 0px 10px;
  display: inline-block;
}
