@font-face {
  font-family: "Windlass";
  src: url(Windlass.ttf) format('truetype');
  src: url(Windlass.ttf) format('woff');
  src: url(Windlass.ttf) format('woff2');
}
html {
  background-color: rgb(15, 15, 15);
}
body {
  font-size: inherit;
}
main {
  width: 80%;
  background-color: rgba(255,255,255,0.1);
  height: 500px;
  position: relative;
  left: 10%;
}
header {
  background-color: rgb(17, 17, 17);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid orangered 2pt;
  color: white;
  z-index: 2;
}
header #title {
  text-align: center;
  font-family: 'Raleway', 'Helvetica',sans-serif;
}
header #nav {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  padding: 0 2.5%;
  margin: 0 0;
  /* column-gap: 2%; */
}
header #nav li {
  display: inline-block;
}
header #nav li > a, header #nav li > div {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5% 0;
  font-weight: 500;
}
header #nav li:hover, .dropdown:hover {
  /* border-bottom: rgb(255, 136, 0) solid 2pt; */
  color: rgb(255, 136, 0);
}

header #nav li:nth-of-type(1) {
  grid-column: 1 / 2;
}
header #nav li:nth-of-type(2) {
  grid-column: 2 / 3;
}
header #nav li:nth-of-type(3) {
  grid-column: 3 / 4;
}
header #nav li:nth-of-type(4) {
  grid-column: 4 / 5;
}
header #nav li:nth-of-type(5) {
  grid-column: 5 / 6;
}
header #nav li:last-of-type {
  grid-column: -3 / span 2;
}


.dropdown {
  float: center;
  overflow: visible;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.dropdown > a {
  display: inline-block;
  width: 80%;
  height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity: 0.9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(236, 128, 40,0.7);
}

.dropdown:hover .dropdown-content {
  display: block;
}
