#overlay {
    background-color: rgb(41, 33, 33);
    position: absolute;
    z-index: 10;
    color: white;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#overlay h2 {
    text-align: center;
    font-family: 'Philosopher';
}

#rules_nav {
    font-family: "Raleway";
    text-decoration: none;
    list-style: none;
    padding: 0 0;
    margin: 0 2.5%;
    text-align: center;
    text-indent: 0;
    position: absolute;
    left: 0;
    width: 95%;
    padding: 0;
    display: grid;
    grid-template-areas: 'li1 li2 li3 li4 li5';
    background-color: rgba(255, 102, 0, 0.192);
}

.table_select {
    background-color: rgba(0, 255, 0, 0.192)
}

#rules_nav li {
    text-indent: 0;
    padding: 2% 0;
    cursor: pointer;
    width: 100%;
}

.rules {
    display: block;
    width: 95%;
    min-height: 80%;
    background-color: rgba(75, 68, 68, 0.466);
    position: absolute;
    top: 13.5%;
    left: 2.5%;
}

table {
    width: 100%;
}

table tr td:nth-last-of-type(2) {
    width: 20%;
}
table tr td:nth-last-of-type(2) {
    width: 10%;
}
table tr td:nth-last-of-type(3) {
    width: 10%;
}
table tr td:nth-last-of-type(4) {
    width: 15%;
}
table tr td:nth-of-type(1) {
    width: 30%;
}
table tr td:nth-of-type(2) {
    width: 15%;
}

table th {
    word-wrap: break-word;
    background-color: rgba(255, 136, 0, 0.61);
}

table th:nth-last-of-type(1),table th:nth-last-of-type(3),table th:nth-last-of-type(5) {
    background-color: rgba(255, 136, 0, 0.452);
}

table td {
    padding: none;
    margin: none;
}

#search_private {
    padding: 10%;
    width: 80%;
    height: 20%;
    overflow: unset;
}
#search_private input:first-of-type {
    width: 100%;
    line-height: 200%;
    font-size: 120%;
    font-family: "Raleway"
}
#search_private input:last-of-type {
    width: 101%;
    border: none;
    text-align: center;
    margin-top: 1.5%;
    font-size: 120%;
    font-family: "Raleway"
}

#private_error {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
}


#stats {
    display: grid;
    grid-template-areas: 'wins losses draws';
    text-align: center;
    font-family: 'Philosopher';
    font-size: 150%;
}
#win {
    grid-area: 'wins';
    display: inline;
    padding: 5% 0;
}
#loss {
    grid-area: 'losses';
    display: inline;
    padding: 5% 0;
}
#draw {
    grid-area: 'draws';
    display: inline;
    padding: 5% 0;
}
#percent, #ranking {
    width: 100%;
    text-align: center;
    font-size: 150%;
    margin: 5% 0 0 0;
    padding: 0;
    height: 100%;
}
#percents, #rankings {
    font-size: 150%;
    width: 100%;
    padding: 0;
    display: block;
}
#wins, #losses, #draws {
    display: inline;
    font-size: 150%;
}
#settings {
    font-family: 'Raleway';
}
#settings form input[type=text], #settings form input[type=password] {
    margin-bottom: 2.4%;
    font-size: 1.1em;
    border-bottom: solid white 1.5pt;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
    color: rgb(255, 215, 193);
}
#settings input[type=submit] {
    background-color: rgb(46, 41, 41);
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Raleway';
    border: none;
    font-size: 100%;
    cursor: pointer;
    margin-left: 5%;
}

#settings form {
    display: inline;
}
#settings form:nth-of-type(2), #settings form:nth-of-type(4), #settings form:nth-of-type(6) {
    padding: 0 0 0 5%;
}
#settings form:nth-of-type(1) input[type=password] {
    text-align: center;
    width: 60%;
    position: relative;
    left: 20%;
}
#settings form:nth-of-type(1) label {
    display: block;
    text-align: center;
    width: 60%;
    position: relative;
    left: 20%;
}
#settings form:nth-of-type(1) input[type=submit] {
    text-align: center;
    width: 20%;
    position: relative;
    left: 40%;
    margin: 0;
    padding: 0;
}