#overlay {
    background-color: rgb(19, 17, 17);
    position: absolute;
    z-index: 10;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;

}

#overlay h2 {
    text-align: center;
    font-family: 'Philosopher';
    background: linear-gradient(white 0.5%, orangered);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#overlay h4 {
    text-align: center;
    font-family: 'Raleway';
    background: linear-gradient(white 0.5%, orangered);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#overlay h1:first-of-type {
    text-align: center;
    font-family: 'Raleway';
    font-size: 3.3em;
    padding: 0;
    margin: 0;
    display: inline;
    text-align: left;
    position: relative;
    left: 18%;
    top: 8%;
    background-color: rgba(19, 17, 17, 1);
    color: orangered;
}
#overlay h1:nth-of-type(2) {
    width: 100%;
    text-align: center;
    font-family: 'Raleway';
    background: linear-gradient(to right, orangered ,rgba(0,0,0,0) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10em;
    padding: 0;
    margin: 0;
    line-height: 80%;
}
#welcome {
    padding: 5% 5%;
}
#welcome button {
    width: 100%;
    background-color: rgb(255, 94, 0);
    border: none;
    font-size: 100%;
    font-family: 'Philosopher';
    font-weight: bold;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0% 2%;
    width: 96%;
    cursor: pointer;
}
#title_scroll {
    width: 86%;
    margin: 0 7%;
    display: flex;
    justify-content: space-between;
    flex-basis: 47%;
}
.suggested_game {
    width: 47%;
    border: 2pt solid white;
}
.suggested_label:nth-of-type(1) {
    width: 41.25%;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 7%;
}
.suggested_label:nth-of-type(2) {
    width: 41.25%;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 10%;
}