html {
    background-color: black
}

.piece {
    position: relative;
    z-index: 10;
}

#canvas1 {
    position: absolute;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: none;
    padding: none;
}

#message {
background-color: rgba(155, 149, 149, 0.514);
display: block;
position: absolute;
}

#chat_title {
background-color: rgba(51, 42, 42, 0.589);
text-align: center;
font-size: 1.7em;
padding: 1% 0;
position: absolute;
display: block;
z-index: 2;
font-weight: bold;
font-family: 'Arial';
color: white;
}
#submit_message {
position: fixed;
z-index: 4;
}
body form input:first-of-type{
    background-color: rgb(184, 135, 45);
    border: none;
}
#text {
    position: absolute;
    z-index: 3;
    color: rgb(235, 231, 231);
    overflow: hidden;
    scrollbar-color: rgb(0,0,0,0.2) rgb(0,0,0,0.1);
    padding: 0;
    margin: 0;
}
#text:hover {
    overflow-y: scroll;
}

#options {
    background-color: grey;
    position: absolute;
}

#options button{
    display: block;
    width: 80%;
    position: relative;
    right: -10%;
    border: none;
    height: 20%;
    margin-bottom: 2.5%;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 200%;
}

#overlay {
    background-color: red;
    position: absolute;
    z-index: 10;
}

#overlay h2 {
    text-align: center;
    font-family: 'Philosopher';
}
#overlay h4 {
    text-align: center;
    font-family: 'Raleway';
}


#overlay input[type=text] {
    font-size: 200%;
    text-align: center;
    background-color: red;
    margin-bottom: 2%;
    text-decoration-line: underline;
    color: rgba(53, 52, 52, 0.527)
}
#overlay input[type=submit] {
    background-color: rgb(255, 115, 0);
    margin-bottom: 20%;
    text-align: right;
    font-family: 'Raleway';
    border: none;
    font-size: 100%;
}

#login {
position: absolute;
bottom: 5%;
left: 15%;
display: inline-block;
}

#signup {
position: absolute;
bottom: 0%;
right: 15%;
}

#logout {
    position: fixed;
    bottom: 2%;
    right : 0.5%;
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
#nav {
    background-image: linear-gradient(rgb(41, 33, 33) 55%,orangered);
    position: fixed;
    z-index: 100;
    color: white;

}
#nav li {
    height: 16%;
    width: 100%;
    background-color: rgba(58, 54, 54, 0.158);
    border-bottom: white 2px solid;
    position: relative;
    padding: 0;
}
#nav ul {
    list-style: none;
    list-style-position: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    padding: 0;
}
#nav li button {
    height: 100%;
    width: 100%;
    background-color: unset;
    border: none;
    color: white;
    font-family: 'Raleway';
    font-size: 1.5em;
    overflow: hidden;
    cursor: pointer;
}

#copyright {
    font-size: 50%;
    font-family: 'Times New Roman';
    text-align: left;
}

#interface {
    background-color: rgba(30,30,30,1);
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 2em;
}

#interface div {
    width: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
}
.top {
    position: absolute;
    top: 0;
}

#options, #promote, #beirut_button {
    width: 100%;
    background-color: rgba(0,0,0,0);
    position: absolute;
    padding: 0;
    text-align: center;
}

#options button, #closable_interface button {
    width: 23%;
    font-size: 75%;
    display: inline-block;
    cursor: pointer;
    margin: 1% 0;
    padding: 0;
    position: relative;
    right: 0%;
}
#promote button {
    width: 23%;
    font-size: 75%;
    display: inline-block;
    cursor: pointer;
    margin: 1% 0.75%;
    padding: 0;
    position: relative;
    right: 0%;

}
#beirut_button button {
    width: 97%;
    font-size: 75%;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    position: relative;
    color: black;
    border: 0;
    font-family: 'Raleway';
}

#self_box icon, #opposite_box icon {
    cursor: pointer;
}

#tracking {
    overflow: scroll;
    font-family: 'Times New Roman';
    font-size: 75%;
}

#status {
    overflow: hidden;
    text-align: center;
}

#closable_interface {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: 'Philosopher';
    font-size: 200%;
    border-radius: 1%;
    text-align: center;
    background-color: rgba(0,0,0,0.8)
}
#close_cross {
    position: absolute;
    z-index: 2;
    font-family: 'Philosopher';
    color: white;
    font-size: 150%;
    cursor: pointer;
}

#closable_interface button {
    background-color: white;
    border: none;
    width: 96%;
    margin: 2%;
    overflow: hidden;
}