html {
    background-color: black
}

.piece {
    position: relative;
    z-index: 10;
}

#canvas1 {
    position: absolute;
    background-image: url("board.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: none;
    padding: none;
}

#message {
background-color: lightgreen;
display: block;
position: absolute;
}

#chat_title {
background-color: green;
text-align: center;
font-size: 1.7em;
padding: 1% 0;
position: absolute;
display: block;
z-index: 2;
font-weight: bold;
font-family: 'Arial';
color: white;
}
#submit_message {
position: fixed;
z-index: 4;
}
body form input:first-of-type{
    background-color: rgb(209, 253, 228);
    border: none;
}
#text {
    position: absolute;
    z-index: 3;
}
#text:hover {
    overflow: scroll;
}

#overlay, #overlay2 {
    background-color: rgb(41, 33, 33);
    color: white;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    font-family: 'Philosopher';
}

#overlay h2, #overlay2 h2 {
    text-align: center;
    font-family: 'Philosopher';
}
#overlay h4, #overlay2 h4 {
    text-align: center;
    font-family: 'Raleway';
}

#game_creator {
    text-decoration-line: underline;
    text-align: center;
}
#game_loader {    
    text-decoration-line: underline;
    text-align: center;
}


#overlay input[type=submit], #overlay2 input[type=submit] {
    background-color: rgb(46, 41, 41);
    color: rgb(255, 115, 0);
    text-align: right;
    font-family: 'Raleway';
    border: none;
    font-size: 100%;
    cursor: pointer;
}

#overlay form, #overlay2 form {
    margin: 0;
}

#signup, #login, #overlay2 {
    text-align: center;
}
#signup input, #login input, #overlay2 input {
    margin-bottom: 2.4%;
    font-size: 1.1em;
    border-bottom: solid white 1.5pt;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(0,0,0,0);
    text-align: center;
    color: rgb(255, 215, 193);
}
#overlay2 input[type=text] {
    width: 60%;
}

#logout {
    position: fixed;
    bottom: 2%;
    right : 0.5%;
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
#nav {
    background-image: linear-gradient(rgb(41, 33, 33) 55%,orangered);
    position: fixed;
    z-index: 100;
    color: white;

}
#nav li {
    height: 16%;
    width: 100%;
    background-color: rgba(58, 54, 54, 0.158);
    border-bottom: white 2px solid;
    position: relative;
    padding: 0;
}
#nav ul {
    list-style: none;
    list-style-position: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    padding: 0;
}
#nav li button {
    height: 100%;
    width: 100%;
    background-color: unset;
    border: none;
    color: white;
    font-family: 'Raleway';
    font-size: 1.5em;
    overflow: hidden;
    cursor: pointer;
}

#copyright {
    font-size: 50%;
    font-family: 'Times New Roman';
    text-align: left;
}

.error {
    color: red;
}

#forgot_password {
    cursor: pointer;
}
#cookie_notice {
    position: absolute;
    left: 30%;
    top: 20%;
    z-index: 100;
    color: black;
    font-family: 'Philosopher';
    font-size: 200%;
    border-radius: 1%;
    text-align: center;
    background-color: rgba(172, 167, 167, 0.98);
    width: 40%;
    height: 60%;
}
#cookie_notice button {
    background-color: rgb(255, 94, 0);
    border: none;
    font-size: 100%;
    font-family: 'Philosopher';
    font-weight: bold;
    position: absolute;
    bottom: 1%;
    right: 1%;
    
}
#cookie_notice button:first-of-type {
    background-color: rgb(255, 94, 0);
    border: none;
    font-size: 100%;
    font-family: 'Philosopher';
    font-weight: bold;
    position: absolute;
    right: 25%;
    
}