@font-face {
  font-family: "Windlass";
  src: url(Windlass.ttf) format('truetype');
  src: url(Windlass.ttf) format('woff');
  src: url(Windlass.ttf) format('woff2');
}
html {
  background-color: rgb(255, 211, 245);
}
body {
  font-size: inherit;
}

.stage {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
  height: 600px;
}
.img {
  position: absolute;
  width: 40%;
  opacity: 0;

  /* transition: opacity 0.1s ease; */
}
.img.active {
  opacity: 1;
}

#img3 {
  /* top: 34%; */
  padding-bottom: 11%;
}

#textstage {
  visibility: hidden;
  font-family: "Courgette", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3em;
  position: relative;
  padding: 2% 2% 2% 2%;
  height: 100%;
}

.fade-text {
  opacity: 0;                 /* start invisible */
  transform: scale(0.5);      /* start smaller */
  animation: fadeInCenter 1s cubic-bezier(0.1, 0, 0.2, 1) both;
}

/* keyframes */
@keyframes fadeInCenter {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.titles {
text-align: center;
font-size: 8vw;
font-family: "Love Light", cursive;
font-weight: 500;
width: 100%;
margin-top: 0%;
position: fixed;
z-index: 2;
/* line-height: 150px; */
color: /*darkred*/ rgb(0, 0, 0);
display: inline-block;
margin: none;
padding: none;
overflow: hidden;
white-space: nowrap;
animation: fadeSequence 6s infinite;
opacity: 0;
}

.titles.scrolled {
  background: rgba(255, 118, 189, 0.832); /* semi-transparent on scroll */
}

@keyframes fadeSequence {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}

#title1 {
  animation-delay: 0s;
}

#title2 {
  animation-delay: 2s;
}

#title3 {
  animation-delay: 4s;
}

main {
  position: relative;
  left: 12.5%;
  top: 160px;
  z-index: 0;
  width: 75%;
  overflow: hidden;
  background-color: rgba(190, 184, 184, 0.699);
  height: 2000px;
}
main:first-child {
  left: inherit;
  top: inherit;
  width: inherit;
}
.main {
  position: relative;
  left: 1%;
  width: 98%;
}
#p1 {
  position: relative;
  left: 1%;
}


main article:last-of-type {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  bottom: 320px;
  left: 1%;
  width: 98%;
  height: 35.6989%;

}